.container{
    width: 1140px;
}
.hero-4{
    margin: 80px 0;
}
.texts-2 h1{
     font-size: 48px;
    font-weight: 500;
     line-height: 58px;
    text-align: center;
 }
.books{
      display: flex;
    justify-content: center;
      margin-top: 70px;
}
.book{
    height: 403px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
    cursor: pointer;
}
.book h4{
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
}
.book p{
    font-size: 19px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    color: grey;
}
.book-1{
     height: 403px;
    width: 200px;
     display: flex;
     flex-direction: column;
    justify-content: space-between;
     margin: 0 80px;
    cursor: pointer;
}
.book-1 h4{
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
}
.book-1 p{
    font-size: 19px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    color: grey;
}
.book-2{
     height: 403px;
    width: 200px;
     display: flex;
    flex-direction: column;
     justify-content: space-between;
    margin-top: 50px;
    cursor: pointer;
 }
.book-2 h4{
      font-size: 22px;
    font-weight: 700;
      line-height: 22px;
}
.book-2 p{
    font-size: 19px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    color: grey;
}
